<% include ../partials/header %>

<h1>Hello</h1>


<form>
  username
  <input type="text" name="firstname" >
  password
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>


<% include ../partials/footer %>
